swagger: '2.0'
info:
  description: >-
    This is a sample server interactioncustomer server.  You can find out more
    about     Swagger at [http://swagger.io](http://swagger.io) or on
    [irc.freenode.net, #swagger](hhttp://swagger.io/irc/).      For this sample,
    you can use the api key `special-key` to test the authorization     filters.
  version: 1.0.0 
  title: 'Maxar Ruamitr '
  termsOfService: 'http://google.com'
  contact:
    email: kamalas@terrabit.co.th
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: maxar.ruamitr
basePath: /api/v1
tags:
  - name: interaction
    description: interaction that occured when customer contact to Ruamitr
    externalDocs:
      description: More info
      url: 'http:/google.com'
  - name: customer
    description: Access to customer Information
  - name: case
    description: 'Rest taht reltaed to case Create/Edit Case '
  - name: user
    description: Access Method that related to user such Add/Edit/Delete
  - name: knowledgeBase
    description: | 
      Access Knowledge Information 
      update on 19/03/2019 by Kamalas 
        Star Content, cut meta data
  - name: setting
    description: Access Setting value of Ruamitr
schemes:
  - https
  - http
paths:
  /interaction:
    get:
      tags:
        - interaction
      summary: Finds interactions by parameter
      description: 'Multiple values can be provided with comma eg. staus=open,new'
      operationId: findinteraction
      produces:
        - application/json
      parameters:
        - name: status
          in: query
          description: Status values that need to be considered for filter
          required: true
          type: string
          enum:
            - incoming
            - in-progress
            - pending
            - closed
            - all
          default: incoming
        - name: state
          in: query
          description: Status values that need to be considered for filter

          type: string
          enum:
            - waiting
            - draft
            - sending
            - ignore
            - all
          default: all
        - in: query
          name: q
          type: string
          description: >-
            Query string when search using keyword againest Subject and Body eg.
            "Somchai Rod"+Complain match contain "Somchai Rod" and Compalin
        - in: query
          name: subject
          type: string
          description: >-
            Search within Subject field eg. "Somchai Rod"+Complain match contain
            "Somchai Rod" and Sale
        - in: query
          name: content
          type: string
          description: >-
            Search within Email Body or Chat log eg. "Somchai Rod"+Complain
            match contain "Somchai Rod" and Sale (Has the Word)
        - in: query
          name: contactNo
          type: string
          description: >-
            Phone number /Eamil Address / Line Id /Facebook ID
        - in: query
          name: accountId
          type: string
          description: Interaction Account that active in Ruamitr
          enum:
          - 1
          - 2
          - 3 
          - 4
        - in: query
          name: offset
          type: integer
          description: >-
            The number of items to skip before starting to collect the result
            set.
        - in: query
          name: flag
          type: boolean
          description: identify that interaction has mark as flag
        - in: query
          name: attach
          type: boolean
          description: identify that interation has attachment file
        - in: query
          name: channelCode
          type: string
          enum:
            - email
            - facebook
            - line
          description: flag to identify that interation has attachment file
        - in: query
          name: contactDate
          type: string
          description: 'Start Date using JSON Datetime Format eg. 2013-10-21T13:28:06.419Z'
        - in: query
          name: withinContactDate
          type: string
          description: >-
            the format will be number + Character D,M,Y such as 3D 6M 1Y for
            search record for last 3 Day, 6 Month, 1 Year
        - in: query
          name: contactDirection
          type: string
          description: IN or OUT    
        - in: query
          name: size
          type: string
          description: 'Size of Attachemen file in pattern size=1M, size=gt100K,size=lte20M'
        - name: sort
          in: query
          description: Status values that need to be considered for filter
          type: string
          enum:
            - 'date:asc'
            - 'date:desc'
            - 'priority:asc'
            - 'priority:desc'
          default: 'date:desc'
        - name: scope
          in: query
          description: Status values that need to be considered for filter
          required: true
          type: string
          enum:
            - user
            - team
            - all
          default: inbox
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              pagination:
                $ref: '#/definitions/Pagination'
              items:
                type: array
                items:
                  $ref: '#/definitions/InteractionInfoList'
              metadata:
                type: array
                items:
                  $ref: '#/definitions/Metadata'
        '400':
          description: Invalid status value
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
    post:
      tags:
        - interaction
      summary: Add a new interaction to the customer
      description: ''
      operationId: addinteraction
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: interaction object that needs to be added to the customer
          required: true
          schema:
            type: object
            properties:
              customerId:
                type: string
                format: uuid
                example: 0b43ef1e-249e-11e9-ab14-d663bd873d93
              customerContactId:
                type: string
                format: uuid
                example: 0b4331e-249e-11e9-ab14-d663bd873d93
              contactNo:
                type: string
                format: uuid
                example: 0891172179
              channelCode:
                type: string
                format: uuid
                example: 0891172179
          
      responses:
        '405':
          description: Invalid input
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
      deprecated: true
    put:
      tags:
        - interaction
      summary: Update an existing interaction
      description: ''
      operationId: updateinteraction
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: interaction object that needs to be added to the customer
          required: true
          schema:
            $ref: '#/definitions/interactionEmail'
      responses:
        '400':
          description: Invalid ID supplied
        '404':
          description: interaction not found
        '405':
          description: Validation exception
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
  /interaction/create:
    post:
      tags:
        - interaction
      summary: Create new interaction to the customer by using (ContactNo/Channel) or Customer Contact ID
      description: ''
      operationId: createinteraction
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: interaction object that needs to be added to the customer
          required: true
          schema:
            type: object
            properties:
              customerId:
                type: string
                format: uuid
                example: 0b43ef1e-249e-11e9-ab14-d663bd873d93
              customerContactId:
                type: string
                format: uuid
                example: 0b4331e-249e-11e9-ab14-d663bd873d93
              contactNo:
                type: string
                format: uuid
                example: 0891172179
              channelCode:
                type: string
                example: PHONE
 
      responses:
        '405':
          description: Invalid input
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
  /interaction/count-record-by-state:
    get:
      tags:
        - interaction
      summary: Count Number of record in each state base on criteria
      description: Multiple status values can be provided with comma separated strings
      operationId: findinteractionsByStatus
      produces:
        - application/json
      parameters:
        - name: status
          in: query
          description: Status values that need to be considered for filter
          required: true
          type: string
          enum:
            - incoming
            - in-progress
            - pending
            - closed
          default: incoming
        - name: state
          in: query
          description: Status values that need to be considered for filter
          type: string
          enum:
            - waiting
            - draft
            - sending
            - ignore
            - all
          default: all
        - in: query
          name: q
          type: string
          description: >-
            Query string when search using keyword againest Subject and Body eg.
            "Somchai Rod"+Complain match contain "Somchai Rod" and Compalin
        - in: query
          name: subject
          type: string
          description: >-
            Search within Subject field eg. "Somchai Rod"+Complain match contain
            "Somchai Rod" and Sale
        - in: query
          name: content
          type: string
          description: >-
            Search within Email Body or Chat log eg. "Somchai Rod"+Complain
            match contain "Somchai Rod" and Sale (Has the Word)
        - in: query
          name: contactNo
          type: string
          description: >-
            Phone number /Eamil Address / Line Id /Facebook ID
        - in: query
          name: accountId
          type: string
          description: Interaction Account that active in Ruamitr
          enum:
          - 1
          - 2
          - 3 
          - 4
        - in: query
          name: offset
          type: integer
          description: >-
            The number of items to skip before starting to collect the result
            set.
        - in: query
          name: flag
          type: boolean
          description: identify that interaction has mark as flag
        - in: query
          name: attach
          type: boolean
          description: identify that interation has attachment file
        - in: query
          name: channelCode
          type: string
          enum:
            - email
            - facebook
            - line
          description: flag to identify that interation has attachment file
        - in: query
          name: contactDate
          type: string
          description: 'Start Date using JSON Datetime Format eg. 2013-10-21T13:28:06.419Z'
        - in: query
          name: withinContactDate
          type: string
          description: >-
            the format will be number + Character D,M,Y such as 3D 6M 1Y for
            search record for last 3 Day, 6 Month, 1 Year
        - in: query
          name: contactDirection
          type: string
          description: IN or OUT     
        - in: query
          name: size
          type: string
          description: 'Size of Attachemen file in pattern size=1M, size=gt100K,size=lte20M'
        - name: sort
          in: query
          description: Status values that need to be considered for filter
          type: string
          enum:
            - 'date:asc'
            - 'date:desc'
            - 'priority:asc'
            - 'priority:desc'
          default: 'date:desc'
        - name: scope
          in: query
          description: Status values that need to be considered for filter
          required: true
          type: string
          enum:
            - user
            - team
            - all
          default: inbox
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              properties:
                state:
                  type: string
                  enum:
                    - draft
                    - waiting
                    - sending
                    - Ignore
                    - all
                  example: waiting
                label:
                  type: string
                  example: Wait for Approve
                recordCount:
                  type: integer
        '400':
          description: Invalid status value
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
  /interaction/findByTags:
    get:
      tags:
        - interaction
      summary: Finds interactions by tags
      description: >-
        Muliple tags can be provided with comma separated strings. Use        
        tag1, tag2, tag3 for testing.
      operationId: findinteractionsByTags
      produces:
        - application/json
      parameters:
        - name: tags
          in: query
          description: Tags to filter by
          required: true
          type: array
          items:
            type: string
          collectionFormat: multi
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/interactionEmail'
        '400':
          description: Invalid tag value
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
      deprecated: true
  '/interaction/{interactionId}':
    get:
      tags:
        - interaction
      summary: Get single interaction by  with Message Content by interaciton ID
      description: Returns a single interaction
      operationId: getinteractionById
      produces:
        - application/json
      parameters:
        - name: interactionId
          in: path
          description: ID of interaction to return
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/InteractionEmailInfo'
        '400':
          description: Invalid ID supplied
        '404':
          description: interaction not found
      security:
        - api_key: []
    post:
      tags:
        - interaction
      summary: Updates a interaction in the customer with form data
      description: ''
      operationId: updateinteractionWithForm
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters:
        - name: interactionId
          in: path
          description: ID of interaction that needs to be updated
          required: true
          type: integer
          format: int64
        - name: name
          in: formData
          description: Updated name of the interaction
          required: false
          type: string
        - name: status
          in: formData
          description: Updated status of the interaction
          required: false
          type: string
      responses:
        '405':
          description: Invalid input
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
    delete:
      tags:
        - interaction
      summary: Deletes a interaction
      description: ''
      operationId: deleteinteraction
      produces:
        - application/json
      parameters:
        - name: api_key
          in: header
          required: false
          type: string
        - name: interactionId
          in: path
          description: interaction id to delete
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              response:
                $ref: '#/definitions/ResponseMessage'
              interaction:
                $ref: '#/definitions/InteractionEmailInfo'
          examples:
            JSON Response Chat:
              {  
                 "response":{  
                    "Message":"OK",
                    "ErrorMessage":""
                 },
                 "interaction":{  
                    "uuid":"39011c4a-8e55-11e8-9eb6-529269fb1459",
                    "customerContactId":"39012046-8e55-11e8-9eb6-529269fb1459",
                    "contactRefNo":"123210",
                    "customerId":"390122bc-8e55-11e8-9eb6-529269fb1459",
                    "channelcode":"LINE",
                    "interActionAccountName":"ABCLine",
                    "interactionName":"Apichat Somjainuk",
                    "customertype":"Customer",
                    "customerClassify":"Single",
                    "interactionContactName":"@apichat",
                    "interationDirection":"IN",
                    "customerImage":"/customer/89302180321/profile.jpg",
                    "customerAbbr":"AS",
                    "customerAbbrColor":"#1ABC9C",
                    "hasAttachment":true,
                    "status":"Pending",
                    "state":"Wrap-up",
                    "stateDate":"2018-11-02T04:29:19.150",
                    "isRead":true,
                    "createDate":"2018-11-02T04:29:19.150",
                    "updateDate":"2018-11-02T04:29:19.150",
                    "interactionFlag":true,
                    "isReadOnly":true,
                    "assignTo":"Agent1",
                    "allowIgnore":false,
                    "isTransfer":false,
                    "tag":[  
                       {  
                          "name":"Completed",
                          "value":"Completed",
                          "description":"Contact Result Level 1 | contact Restul Level 2"
                       }
                    ],
                    "messageContent":[  
                       {  
                          "contactName":"@Apichat",
                          "direction":"IN",
                          "status":"OK",
                          "type":"text",
                          "contactDate":"2018-11-02T04:29:19.150",
                          "text":"Greeting Customer Support"
                       },
                       {  
                          "contactName":"@Apichat",
                          "direction":"OUT",
                          "status":"OK",
                          "type":"text",
                          "contactDate":"2018-11-02T04:29:19.150",
                          "text":"May Can i help you ? "
                       },
                       {  
                          "contactName":"@Apichat",
                          "direction":"IN",
                          "type":"text",
                          "contactDate":"2018-11-02T04:29:19.150",
                          "text":"https://scontent.xx.fbcdn.net/v/t1.15752-9/43062495_302429593821265_4837130990688141312_n.jpg?_nc_cat=101&_nc_ad=z-m&_nc_cid=0&oh=538ab3166c1d5561d3488c2a7362256a&oe=5C235272"
                       },
                       {  
                          "contactName":"@ABCLine",
                          "direction":"OUT",
                          "status":"ERROR",
                          "type":"text",
                          "contactDate":null,
                          "text":"Please Wait..."
                       },
                       {  
                          "contactName":"@ABCLine",
                          "direction":"OUT",
                          "status":"SENDING",
                          "type":"text",
                          "contactDate":null,
                          "text":"Sorry for Please Wait..."
                       },
                       {  
                          "contactName":"@ABCLine",
                          "direction":"OUT",
                          "status":"OK",
                          "contactDate":"2018-11-02T04:29:19.150",
                          "type":"attchment",
                          "attchment":[  
                             {  
                                "id":1,
                                "name":"aa.txt",
                                "uri":"/aaa-2081091.txt",
                                "size":"100 KB",
                                "extension":"txt"
                             }
                          ]
                       }
                    ]
                 }
              }
            JSON Response Email:
              {  
                 "response":{  
                    "Message":"OK",
                    "ErrorMessage":""
                 },
                 "interaction":{  
                    "id":"39011c4a-8e55-11e8-9eb6-529269fb1459",
                    "customerContactId":"39011c4a-8e55-11e8-9eb6-529269fb1459",
                    "contactRefNo":"C-20101928",
                    "customerId":"390122bc-8e55-11e8-9eb6-529269fb1459",
                    "channelCode":"EMAIL",
                    "interActionAccountName":"ABC Email ",
                    "interactionName":"Apichat Somjainuk",
                    "customerType":"Customer",
                    "customerClassify":"Single",
                    "interactionContactName":"Apichat@abc.com",
                    "interationDirection":"IN",
                    "customerImage":"http://maxar/3281093fdsjlkfds",
                    "customerAbbr":"AS",
                    "customerAbbrColor":"#1ABC9C",
                    "hasAttachment":true,
                    "status":"assign",
                    "state":"Wrap-up",
                    "stateDate":"2018-11-02T04:29:19.150",
                    "isRead":true,
                    "createDate":"2018-11-02T04:29:19.150",
                    "updateDate":"2018-11-02T04:29:19.150",
                    "interactionFlag":true,
                    "assignTo":"Agent1",
                    "isReadOnly":false,
                    "allowIgnore":false,
                    "tag":[  
                       {  
                          "name":"Transfer",
                          "description":"Agent Leave"
                       }
                    ],
                    "messageContent":[  
                       {  
                          "id":"832901830921",
                          "type":"IN",
                          "from":"nacho@outlook.com",
                          "to":"sale@abc.com",
                          "cc":"nacho@gmail.com",
                          "bcc":"user@example.com",
                          "subject":"Sale Order Inquiry",
                          "Content":"some html text",
                          "attachment":[  
                             {  
                                "id":1,
                                "name":"aa.txt",
                                "uri":"/aaa-2081091.txt",
                                "size":"100 KB",
                                "mimeType":"text/plain"
                             },
                             {  
                                "id":2,
                                "name":"Profile.jpg",
                                "uri":"/Profile-2081091.jpg",
                                "size":"1201 KB",
                                "mimeType":"image/jpeg"
                             }
                          ]
                       }
                    ]
                 }
              }
            JSON Response Post:
              {  
                 "response":{  
                    "Message":"OK",
                    "ErrorMessage":""
                 },
                 "interaction":{  
                    "uuid":"39011c4a-8e55-11e8-9eb6-529269fb1459",
                    "customerContactId":"39012046-8e55-11e8-9eb6-529269fb1459",
                    "contactRefNo":"123210",
                    "customerId":"390122bc-8e55-11e8-9eb6-529269fb1459",
                    "channelcode":"FB",
                    "interActionAccountName":"ABC Fan Page",
                    "interactionName":"Apichat Somjainuk",
                    "customertype":"Customer",
                    "customerClassify":"Single",
                    "interactionContactName":"@apichat",
                    "interationDirection":"IN",
                    "customerImage":"/customer/89302180321/profile.jpg",
                    "customerAbbr":"AS",
                    "customerAbbrColor":"#1ABC9C",
                    "hasAttachment":true,
                    "status":"Pending",
                    "state":"Wrap-up",
                    "stateDate":"2018-11-02T04:29:19.150",
                    "isRead":true,
                    "createDate":"2018-11-02T04:29:19.150",
                    "updateDate":"2018-11-02T04:29:19.150",
                    "interactionFlag":true,
                    "isReadOnly":true,
                    "assignTo":"Agent1",
                    "allowIgnore":false,
                    "isTransfer":false,
                    "tag":[  
                       {  
                          "name":"Completed",
                          "value":"Completed",
                          "description":"Contact Result Level 1 | contact Restul Level 2"
                       }
                    ],
                    "messageContent":[  
                       {  
                          "messagId":"123890",
                          "contactNo":"12390-321",
                          "contactName":"@Apichat",
                          "direction":"IN",
                          "status":"OK",
                          "type":"text",
                          "contactDate":"2018-11-02T04:29:19.150",
                          "text":"Greeting Customer Support",
                          "parentMessageId":"123112"
                       },
                       {  
                          "messagId":"123890",
                          "contactName":"@Apichat",
                          "direction":"OUT",
                          "status":"OK",
                          "type":"text",
                          "contactDate":"2018-11-02T04:29:19.150",
                          "text":"May Can i help you ? ",
                          "parentMessageId":"123112"
                       },
                       {  
                          "messagId":"123890",
                          "contactName":"@Apichat",
                          "direction":"IN",
                          "type":"text",
                          "contactDate":"2018-11-02T04:29:19.150",
                          "text":"https://scontent.xx.fbcdn.net/v/t1.15752-9/43062495_302429593821265_4837130990688141312_n.jpg?_nc_cat=101&_nc_ad=z-m&_nc_cid=0&oh=538ab3166c1d5561d3488c2a7362256a&oe=5C235272",
                          "parentMessageId":"123112"
                       },
                       {  
                          "messagId":"123890",
                          "contactName":"@ABCLine",
                          "direction":"OUT",
                          "status":"ERROR",
                          "type":"text",
                          "contactDate":null,
                          "text":"Please Wait...",
                          "parentMessageId":"123112"
                       },
                       {  
                          "messagId":"123890",
                          "contactName":"@ABCLine",
                          "direction":"OUT",
                          "status":"SENDING",
                          "type":"text",
                          "contactDate":null,
                          "text":"Sorry for Please Wait...",
                          "parentMessageId":"123112"
                       },
                       {  
                          "messagId":"123890",
                          "contactName":"@ABCLine",
                          "direction":"OUT",
                          "status":"OK",
                          "contactDate":"2018-11-02T04:29:19.150",
                          "type":"attchment",
                          "attchment":[  
                             {  
                                "id":1,
                                "name":"aa.txt",
                                "uri":"/aaa-2081091.txt",
                                "size":"100 KB",
                                "extension":"txt"
                             }
                          ],
                          "parentMessageId":"123112"
                       }
                    ]
                 }
              }
        '400':
          description: Invalid ID supplied
        '404':
          description: interaction not found
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
  
  
  /interaction/{interactionId}/take:
    post:
      tags:
        - interaction
      summary: Take Owner or open Assigned record from My Inbox 
      description: Returns a single interaction
      operationId: takeInteractionById
      produces:
        - application/json
      parameters:
        - name: interactionId
          in: path
          description: ID of interaction to return
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              response:
                $ref: '#/definitions/ResponseMessage'
              interaction:
                $ref: '#/definitions/InteractionEmailInfo'
          examples:
            JSON Response Chat:
              {  
                 "response":{  
                    "Message":"OK",
                    "ErrorMessage":""
                 },
                 "interaction":{  
                    "uuid":"39011c4a-8e55-11e8-9eb6-529269fb1459",
                    "customerContactId":"39012046-8e55-11e8-9eb6-529269fb1459",
                    "contactRefNo":"123210",
                    "customerId":"390122bc-8e55-11e8-9eb6-529269fb1459",
                    "channelcode":"LINE",
                    "interActionAccountName":"ABCLine",
                    "interactionName":"Apichat Somjainuk",
                    "customertype":"Customer",
                    "customerClassify":"Single",
                    "interactionContactName":"@apichat",
                    "interationDirection":"IN",
                    "customerImage":"/customer/89302180321/profile.jpg",
                    "customerAbbr":"AS",
                    "customerAbbrColor":"#1ABC9C",
                    "hasAttachment":true,
                    "status":"Pending",
                    "state":"Wrap-up",
                    "stateDate":"2018-11-02T04:29:19.150",
                    "isRead":true,
                    "createDate":"2018-11-02T04:29:19.150",
                    "updateDate":"2018-11-02T04:29:19.150",
                    "interactionFlag":true,
                    "isReadOnly":true,
                    "assignTo":"Agent1",
                    "allowIgnore":false,
                    "isTransfer":false,
                    "tag":[  
                       {  
                          "name":"Completed",
                          "value":"Completed",
                          "description":"Contact Result Level 1 | contact Restul Level 2"
                       }
                    ],
                    "messageContent":[  
                       {  
                          "contactName":"@Apichat",
                          "direction":"IN",
                          "status":"OK",
                          "type":"text",
                          "contactDate":"2018-11-02T04:29:19.150",
                          "text":"Greeting Customer Support"
                       },
                       {  
                          "contactName":"@Apichat",
                          "direction":"OUT",
                          "status":"OK",
                          "type":"text",
                          "contactDate":"2018-11-02T04:29:19.150",
                          "text":"May Can i help you ? "
                       },
                       {  
                          "contactName":"@Apichat",
                          "direction":"IN",
                          "type":"text",
                          "contactDate":"2018-11-02T04:29:19.150",
                          "text":"https://scontent.xx.fbcdn.net/v/t1.15752-9/43062495_302429593821265_4837130990688141312_n.jpg?_nc_cat=101&_nc_ad=z-m&_nc_cid=0&oh=538ab3166c1d5561d3488c2a7362256a&oe=5C235272"
                       },
                       {  
                          "contactName":"@ABCLine",
                          "direction":"OUT",
                          "status":"ERROR",
                          "type":"text",
                          "contactDate":null,
                          "text":"Please Wait..."
                       },
                       {  
                          "contactName":"@ABCLine",
                          "direction":"OUT",
                          "status":"SENDING",
                          "type":"text",
                          "contactDate":null,
                          "text":"Sorry for Please Wait..."
                       },
                       {  
                          "contactName":"@ABCLine",
                          "direction":"OUT",
                          "status":"OK",
                          "contactDate":"2018-11-02T04:29:19.150",
                          "type":"attchment",
                          "attchment":[  
                             {  
                                "id":1,
                                "name":"aa.txt",
                                "uri":"/aaa-2081091.txt",
                                "size":"100 KB",
                                "extension":"txt"
                             }
                          ]
                       }
                    ]
                 }
              }
            JSON Response Email:
              {  
                 "response":{  
                    "Message":"OK",
                    "ErrorMessage":""
                 },
                 "interaction":{  
                    "id":"39011c4a-8e55-11e8-9eb6-529269fb1459",
                    "customerContactId":"39011c4a-8e55-11e8-9eb6-529269fb1459",
                    "contactRefNo":"C-20101928",
                    "customerId":"390122bc-8e55-11e8-9eb6-529269fb1459",
                    "channelCode":"EMAIL",
                    "interActionAccountName":"ABC Email ",
                    "interactionName":"Apichat Somjainuk",
                    "customerType":"Customer",
                    "customerClassify":"Single",
                    "interactionContactName":"Apichat@abc.com",
                    "interationDirection":"IN",
                    "customerImage":"http://maxar/3281093fdsjlkfds",
                    "customerAbbr":"AS",
                    "customerAbbrColor":"#1ABC9C",
                    "hasAttachment":true,
                    "status":"assign",
                    "state":"Wrap-up",
                    "stateDate":"2018-11-02T04:29:19.150",
                    "isRead":true,
                    "createDate":"2018-11-02T04:29:19.150",
                    "updateDate":"2018-11-02T04:29:19.150",
                    "interactionFlag":true,
                    "assignTo":"Agent1",
                    "isReadOnly":false,
                    "allowIgnore":false,
                    "tag":[  
                       {  
                          "name":"Transfer",
                          "description":"Agent Leave"
                       }
                    ],
                    "messageContent":[  
                       {  
                          "id":"832901830921",
                          "type":"IN",
                          "from":"nacho@outlook.com",
                          "to":"sale@abc.com",
                          "cc":"nacho@gmail.com",
                          "bcc":"user@example.com",
                          "subject":"Sale Order Inquiry",
                          "Content":"some html text",
                          "attachment":[  
                             {  
                                "id":1,
                                "name":"aa.txt",
                                "uri":"/aaa-2081091.txt",
                                "size":"100 KB",
                                "mimeType":"text/plain"
                             },
                             {  
                                "id":2,
                                "name":"Profile.jpg",
                                "uri":"/Profile-2081091.jpg",
                                "size":"1201 KB",
                                "mimeType":"image/jpeg"
                             }
                          ]
                       }
                    ]
                 }
              }
            JSON Response Post:
              {  
                 "response":{  
                    "Message":"OK",
                    "ErrorMessage":""
                 },
                 "interaction":{  
                    "uuid":"39011c4a-8e55-11e8-9eb6-529269fb1459",
                    "customerContactId":"39012046-8e55-11e8-9eb6-529269fb1459",
                    "contactRefNo":"123210",
                    "customerId":"390122bc-8e55-11e8-9eb6-529269fb1459",
                    "channelcode":"FB",
                    "interActionAccountName":"ABC Fan Page",
                    "interactionName":"Apichat Somjainuk",
                    "customertype":"Customer",
                    "customerClassify":"Single",
                    "interactionContactName":"@apichat",
                    "interationDirection":"IN",
                    "customerImage":"/customer/89302180321/profile.jpg",
                    "customerAbbr":"AS",
                    "customerAbbrColor":"#1ABC9C",
                    "hasAttachment":true,
                    "status":"Pending",
                    "state":"Wrap-up",
                    "stateDate":"2018-11-02T04:29:19.150",
                    "isRead":true,
                    "createDate":"2018-11-02T04:29:19.150",
                    "updateDate":"2018-11-02T04:29:19.150",
                    "interactionFlag":true,
                    "isReadOnly":true,
                    "assignTo":"Agent1",
                    "allowIgnore":false,
                    "isTransfer":false,
                    "tag":[  
                       {  
                          "name":"Completed",
                          "value":"Completed",
                          "description":"Contact Result Level 1 | contact Restul Level 2"
                       }
                    ],
                    "messageContent":[  
                       {  
                          "messagId":"123890",
                          "contactNo":"12390-321",
                          "contactName":"@Apichat",
                          "direction":"IN",
                          "status":"OK",
                          "type":"text",
                          "contactDate":"2018-11-02T04:29:19.150",
                          "text":"Greeting Customer Support",
                          "parentMessageId":"123112"
                       },
                       {  
                          "messagId":"123890",
                          "contactName":"@Apichat",
                          "direction":"OUT",
                          "status":"OK",
                          "type":"text",
                          "contactDate":"2018-11-02T04:29:19.150",
                          "text":"May Can i help you ? ",
                          "parentMessageId":"123112"
                       },
                       {  
                          "messagId":"123890",
                          "contactName":"@Apichat",
                          "direction":"IN",
                          "type":"text",
                          "contactDate":"2018-11-02T04:29:19.150",
                          "text":"https://scontent.xx.fbcdn.net/v/t1.15752-9/43062495_302429593821265_4837130990688141312_n.jpg?_nc_cat=101&_nc_ad=z-m&_nc_cid=0&oh=538ab3166c1d5561d3488c2a7362256a&oe=5C235272",
                          "parentMessageId":"123112"
                       },
                       {  
                          "messagId":"123890",
                          "contactName":"@ABCLine",
                          "direction":"OUT",
                          "status":"ERROR",
                          "type":"text",
                          "contactDate":null,
                          "text":"Please Wait...",
                          "parentMessageId":"123112"
                       },
                       {  
                          "messagId":"123890",
                          "contactName":"@ABCLine",
                          "direction":"OUT",
                          "status":"SENDING",
                          "type":"text",
                          "contactDate":null,
                          "text":"Sorry for Please Wait...",
                          "parentMessageId":"123112"
                       },
                       {  
                          "messagId":"123890",
                          "contactName":"@ABCLine",
                          "direction":"OUT",
                          "status":"OK",
                          "contactDate":"2018-11-02T04:29:19.150",
                          "type":"attchment",
                          "attchment":[  
                             {  
                                "id":1,
                                "name":"aa.txt",
                                "uri":"/aaa-2081091.txt",
                                "size":"100 KB",
                                "extension":"txt"
                             }
                          ],
                          "parentMessageId":"123112"
                       }
                    ]
                 }
              }
        '400':
          description: Invalid ID supplied
        '404':
          description: interaction not found
      security:
        - api_key: []
  /interaction/{interactionId}/draft:
    post:
      tags:
        - interaction
      summary: Save Draft of Message Content
      description: Returns a single interaction
      operationId: draftEmail
      produces:
        - application/json
      parameters:
        - name: interactionId
          in: path
          description: ID of interaction to return
          required: true
          type: string
          format: uuid
        - in: body
          name: body
          description: Email Message Content Object
          required: true
          schema:
             $ref: '#/definitions/MessageContentEmail'
              
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              response:
                $ref: '#/definitions/ResponseMessage'
              messageContent:
                type: object
                properties: 
                  id: 
                    type: "string"
                    example: "832901830921"
        '400':
          description: Invalid ID supplied
        '404':
          description: interaction not found
      security:
        - api_key: []
  
  
  
  /interaction/{interactionId}/send-email:
    post:
      tags:
        - interaction
      summary: Send Email Message
      description: return status 
      operationId: sendMessage
      produces:
        - application/json
      parameters:
        - name: interactionId
          in: path
          description: ID of interaction to return
          required: true
          type: string
          format: uuid
        - in: body
          name: body
          description: Email Message Content Object
          required: true
          schema:
             $ref: '#/definitions/MessageContentEmail'
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              response:
                $ref: '#/definitions/ResponseMessage'
              interaction:
                $ref: '#/definitions/InteractionEmailInfo'
#             messageContent:
#                type: object
#                properties: 
#                  id: 
#                    type: "string"
#                    example: "832901830921"
        '400':
          description: Invalid ID supplied
        '404':
          description: interaction not found
      security:
        - api_key: []        
        
  /interaction/{interactionId}/send-chat:
    post:
      tags:
        - interaction
      summary: Send Chat
      description: return status 
      operationId: sendChatMessage
      produces:
        - application/json
      parameters:
        - name: interactionId
          in: path
          description: ID of interaction to return
          required: true
          type: string
          format: uuid
        - in: body
          name: body
          description: Email Message Content Object
          required: true
          schema:
             $ref: '#/definitions/MessageContentChatSend'
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              response:
                $ref: '#/definitions/ResponseMessage'
              messageContent:
                $ref: '#/definitions/MessageContentChat'
        '400':
          description: Invalid ID supplied
        '404':
          description: interaction not found
      security:
        - api_key: []      

  /interaction/{interactionId}/send-post:
    post:
      tags:
        - interaction
      summary: Snd Post Message
      description: return status 
      operationId: sendPostMessage
      produces:
        - application/json
      parameters:
        - name: interactionId
          in: path
          description: ID of interaction to return
          required: true
          type: string
          format: uuid
        - in: body
          name: body
          description: Email Message Content Object
          required: true
          schema:
             $ref: '#/definitions/MessageContentPostSend'
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              response:
                $ref: '#/definitions/ResponseMessage'
              messageContent:
                $ref: '#/definitions/MessageContentPost'
        '400':
          description: Invalid ID supplied
        '404':
          description: interaction not found
      security:
        - api_key: []    
  /interaction/transfer:
    post:
      tags:
        - interaction
      summary: CTransfer list of Interaction to single Agent (with reason)
      description: '1111'
      operationId: Transfer
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: List of user object
          required: true
          schema:
            type: object
            properties:
              transferReasonId:
                type: integer
                example: '111'
              userId:
                type: string
                format: uuid
                example: 0b4331e-249e-11e9-ab14-d663bd873d93
              InteractionIds:
                type: array
                items:
                  type: string
                  format: uuid
                  example: 0b43ef1e-249e-11e9-ab14-d663bd873d93
      responses:
        default:
          description: successful operation
  /interaction/ignore:
    post:
      tags:
        - interaction
      summary: Ignore List of Interaction with REason
      description: '1111'
      operationId: ignore
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: List of user object
          required: true
          schema:
            type: object
            properties:
              ignoreReasonId:
                type: integer
                example: '111'
              description:
                type: integer
                example: Junk Rebcord
              InteractionIds:
                type: array
                items:
                  type: string
                  format: uuid
                  example: 0b43f1a8-249e-11e9-ab14-d663bd873d
      responses:
        default:
          description: successful operation
  '/interaction/{interactionId}/toggle-flag':
    post:
      tags:
        - interaction
      summary: Toggle Interaction Flag
      description: Returns a single interaction
      operationId: toggleFlagbyid
      produces:
        - application/json
      parameters:
        - name: interactionId
          in: path
          description: ID of interaction to return
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              interactionFlag:
                type: boolean
        '400':
          description: Invalid ID supplied
        '404':
          description: interaction not found
      security:
        - api_key: []
  '/interaction/{interactionId}/end':
    post:
      tags:
        - interaction
      summary: End Interaction such as End Call/ End Chat after sned Email 
      description: '1111'
      operationId: End Interaction
      produces:
        - application/json
      parameters:
        - name: interactionId
          in: path
          description: interaction id that will set to Active Agent Tab
          required: true
          type: string
          format: UUID
      responses:
        default:
          description: successful operation
          schema:
            $ref: '#/definitions/InteractionTime'
  '/interaction/{interactionId}/time':
    get:
      tags:
        - interaction
      summary: Get Time of interaction 
      description: '1111'
      operationId: get interaction Time
      produces:
        - application/json
      parameters:
        - name: interactionId
          in: path
          description: interaction id that will set to Active Agent Tab
          required: true
          type: string
          format: UUID
      responses:
        default:
          description: successful operation
          schema:
            $ref: '#/definitions/InteractionTime'
  '/interaction/{interactionId}/active':
    post:
      tags:
        - interaction
      summary: set Active Interaction and get interaction Time
      description: '1111'
      operationId: ActiveTime
      produces:
        - application/json
      parameters:
        - name: interactionId
          in: path
          description: interaction ID
          required: true
          type: string
          format: UUID
      responses:
        default:
          description: successful operation
          schema:
            $ref: '#/definitions/InteractionTime'

  '/interaction/{interactionId}/inactive':
    post:
      tags:
        - interaction
      summary: set inactive interaction 
      description: '1111'
      operationId: InactiveTime
      produces:
        - application/json
      parameters:
        - name: interactionId
          in: path
          description: interaction ID
          required: true
          type: string
          format: UUID
      responses:
        default:
          description: successful operation
  '/interaction/{interactionId}/wrap':
    post:
      tags:
        - interaction
      summary: set Warp up to interaction 
      description: '1111'
      operationId: wrapUp
      produces:
        - application/json
      parameters:
        - name: interactionId
          in: path
          description: interaction id to wrap
          required: true
          type: integer
          format: int64
        - in: body
          name: body
          description: List of user object
          required: true
          schema:
            type: object
            properties:
              contactResultID:
                type: integer
                example: '111'
              description:
                type: integer
                example: Contact Result Complete
      responses:
        default:
          description: successful operation
  '/interaction/{interactionId}/upload-image':
    post:
      tags:
        - interaction
      summary: uploads an image
      description: ''
      operationId: uploadFile
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: interactionId
          in: path
          description: ID of interaction to update
          required: true
          type: integer
          format: int64
        - name: additionalMetadata
          in: formData
          description: Additional data to pass to server
          required: false
          type: string
        - name: file
          in: formData
          description: file to upload
          required: false
          type: file
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ApiResponse'
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
  /knowledge-base/view:
    get:
      tags:
        - knowledgeBase
      summary: get lis of knownledge view by parameter (only status = approved)
      description: ''
      operationId: findknowledgeBase
      produces:
        - application/json
      parameters:
        - in: query
          name: q
          type: string
          description: "Search value in KB Name & KB Content"
        - in: query
          name: name
          type: string
          description:  "Search value in KB Name"
        - in: query
          name: content
          type: string
          description:  "Search value in KB Content"
        - in: query
          name: lastCommentDate
          type: string
          description: 'the format will be number + Character D,M,Y such as 3D 6M 1Y for search record for last 3 Day, 6 Month, 1 Year'
        - name: scope
          in: query
          description: scope of KB that User can access. Scope will use when Feature that  Customer can Access Ruamitr KB
          type: string
          enum:
            - all
            - internal
            - external
          default: all
        - in: query
          name: offset
          type: integer
          description: >-
            The number of items to skip before starting to collect the result
            set.
          default: 0
        - name: tag
          in: query
          description: tag of KB it will use when open KB after slect case that will pass tag of case type to match with kb tag
          type: array
          items:
            type: string
          default: ''
          collectionFormat: csv
        - in: query
          name: userId
          type: string
          format: UUID
          required: true
          description: uuid of agent that access to KB to get limit per page 
        - in: query
          name: parentId
          type: string
          format: UUID
        - name: sort
          in: query
          description: 'sor by tag will apply when using as  '
          type: array
          items:
            type: string
            enum:
              - 'tag:desc'
              - 'tag:asc'
              - 'usedCount:asc'
              - 'usedCount:desc'
            default: 'usedCount:desc'
            collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              pagination:
                $ref: '#/definitions/Pagination'
              items:
                type: array
                items:
                  $ref: '#/definitions/List-knowledgeBase'
        '400':
          description: Invalid status value
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
  /knowledge-base/{knowledgeBaseId}/view:
    get:
      tags:
        - knowledgeBase
      summary: Find knownledge Base by ID
      description: Returns a single knownledge Base in view mode for user 
      operationId: getviewbyknowledgeBaseId
      produces:
        - application/json
      parameters:
        - name: knowledgeBaseId
          in: path
          description: ID of interaction to return
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/knowledgeBaseView'
        '400':
          description: Invalid ID supplied
        '404':
          description: interaction not found
  /knowledge-base/view/getKbTree:
    get:
      tags:
        - knowledgeBase
      summary: 'get Tree of KB '
      description: ''
      operationId: getshowTree
      produces:
        - application/json
      parameters:
        - name: UUID
          in: query
          description: UUID of Parent ID
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              items:
                $ref: '#/definitions/List-knowledgeBase-Trees'
        '400':
          description: Invalid status value
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
  /knowledge-base:
    post:
      tags:
        - knowledgeBase
      summary: Add a new KB to the customer
      description: ''
      operationId: addknowledgeBase
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: interaction object that needs to be added to the customer
          required: true
          schema:
            $ref: '#/definitions/interactionEmail'
      responses:
        '405':
          description: Invalid input
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
    put:
      tags:
        - knowledgeBase
      summary: Update an existing interaction
      description: ''
      operationId: updateknowledgeBase
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: interaction object that needs to be added to the customer
          required: true
          schema:
            $ref: '#/definitions/interactionEmail'
      responses:
        '400':
          description: Invalid ID supplied
        '404':
          description: interaction not found
        '405':
          description: Validation exception
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
  '/knowledge-base/{knowledgeBaseId}':
    get:
      tags:
        - knowledgeBase
      summary: Find knownledge Base by ID
      description: Returns a single knownledge Base
      operationId: getknowledgeBaseId
      produces:
        - application/json
      parameters:
        - name: knowledgeBaseId
          in: path
          description: ID of interaction to return
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/knowledgeBase'
        '400':
          description: Invalid ID supplied
        '404':
          description: interaction not found
  /knowledge-base/getKBTree:
    get:
      tags:
        - knowledgeBase
      summary: 'get Tree of KB '
      description: Multiple status values can be provided with comma separated strings
      operationId: getManageTree
      produces:
        - application/json
      parameters:
        - name: UUID
          in: query
          description: UUID of Parent ID
          type: string
        - name: type
          in: query
          description: Type of Query
          type: string
          enum:
            - All
            - ParentID
            - Root
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/List-knowledgeBase-Configure-Tree'
          examples:
            application/json2:
              items:
                - id: ed3ea5ed-f08a-491c-8730-dec973a732cf
                  name: Name | Status
                  status: Cutomer ID
                  isLeaf: 'false'
                  children:
                    - id: ed3ea5ed-f08a-491c-8730-dec973a7322f
                      name: Payment
                      status: Cutomer ID
                      isLeaf: true
                      children: []
                    - id: ed3ea5ed-f08a-491c-8730-dec973a7322f
                      name: refund | Wait for Approve
                      status: ''
                      isLeaf: true
                      children: []
                - id: ed3ea5ed-f08a-491c-8730-dec973a732cf
                  name: Name | Status
                  status: Cutomer ID
                  isLeaf: 'false'
                  children:
                    - id: ed3ea5ed-f08a-491c-8730-dec973a7322f
                      name: Payment
                      status: Cutomer ID
                      isLeaf: true
                      children: []
                    - id: ed3ea5ed-f08a-491c-8730-dec973a7322f
                      name: refund | Wait for Approve
                      status: ''
                      isLeaf: true
                      children: []
                - id: ed3ea5ed-f08a-491c-8730-dec973a732cf
                  name: Name | Status
                  status: Cutomer ID
                  isLeaf: 'false'
                  children:
                    - id: ed3ea5ed-f08a-491c-8730-dec973a7322f
                      name: Payment
                      status: Cutomer ID
                      isLeaf: true
                      children:
                        - id: ed3ea5ed-f08a-491c-8730-dec973a732cf
                          name: Name | Status
                          status: Cutomer ID
                          isLeaf: 'false'
                          children:
                            - id: ed3ea5ed-f08a-491c-8730-dec973a7322f
                              name: Payment
                              status: Cutomer ID
                              isLeaf: true
                              children: []
                            - id: ed3ea5ed-f08a-491c-8730-dec973a7322f
                              name: refund | Wait for Approve
                              status: ''
                              isLeaf: true
                              children:
                                - id: ed3ea5ed-f08a-491c-8730-dec973a732cf
                                  name: Name | Status
                                  status: Cutomer ID
                                  isLeaf: 'false'
                                  children:
                                    - id: ed3ea5ed-f08a-491c-8730-dec973a7322f
                                      name: Payment
                                      status: Cutomer ID
                                      isLeaf: true
                                      children: []
                                    - id: ed3ea5ed-f08a-491c-8730-dec973a7322f
                                      name: refund | Wait for Approve
                                      status: ''
                                      isLeaf: true
                                      children: []
                    - id: ed3ea5ed-f08a-491c-8730-dec973a7322f
                      name: refund | Wait for Approve
                      status: ''
                      isLeaf: true
                      children: []
                - id: ed3ea5ed-f08a-491c-8730-dec973a732cf
                  name: Name | Status
                  status: Cutomer ID
                  isLeaf: 'false'
                  children:
                    - id: ed3ea5ed-f08a-491c-8730-dec973a7322f
                      name: Payment
                      status: Cutomer ID
                      isLeaf: true
                      children: []
                    - id: ed3ea5ed-f08a-491c-8730-dec973a7322f
                      name: refund | Wait for Approve
                      status: ''
                      isLeaf: true
                      children: []
        '400':
          description: Invalid status value
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
  /customer:
    get:
      tags:
        - customer
      summary: 'Search Customer '
      description: >-
        Return list of customer that will show in search main page and customer
        search pop up
      operationId: getCustomers
      produces:
        - application/json
      parameters:
        - in: query
          name: name
          type: string
          description: >-
            Search customer.name 
        - in: query
          name: surname
          type: string
          description: >-
            Search customer.name and customer.surname 
        - in: query
          name: includeContactPerson
          type: boolean
          description: using name and surname of customer to search contact person record
        - in: query
          name: customerType
          type: integer
          description: using value in dropdown to search value in customer.customerType
        - in: query
          name: lastContactDate
          type: string
          description: >-
            the format will be number + Character D,M,Y such as 3D 6M 1Y for
            search record for last 3 Day, 6 Month, 1 Year
        - in: query
          name: idNo
          type: string
          description: ID Number of Customer.IdNo
        - in: query
          name: contactNo
          type: string
          description: customerContact.ContactNo
        - name: gender
          in: query
          description: gender of customer
          type: string
          enum:
          - M
          - F
        - name: isTransgender
          in: query
          description: Flag to identify that customer is transgender
          type: boolean
        - in: query
          name: q
          type: string
          description: >-
            Query string when search using keyword againest Customer Name /
            Surname /  Contact No
        - in: query
          name: offset
          type: integer
          default: 0
          description: >-
            The number of items to skip before starting to collect the result
            set. (Paging)
        - name: sort
          in: query
          description: Sort field when search customer last_contact_date, Customer Type
          type: array
          items:
            type: string
            enum:
              - 'date:asc'
              - 'date:desc'
              - 'customerType:asc'
              - 'customerType:desc'
            default: 'date:desc'
            collectionFormat: csv
        - in: query
          name: isCorporate
          type: boolean
          default: false
          description: flag to identify that customer is corporate customer
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              pagination:
                $ref: '#/definitions/Pagination'
              items:
                type: array
                items:
                  $ref: '#/definitions/CustomerInfoList'
        '400':
          description: Invalid ID supplied
        '404':
          description: interaction not found
      security:
        - api_key: []
    post:
      tags:
        - customer
      summary: Get Customer Handling Base on Customer Lay out
      description: ''
      operationId: addCustomerProfile
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: customer property object that needs to be added to the customer
          required: true
          schema:
            type: object
            properties:
              customer:
                $ref: '#/definitions/CustomerPOST-PUT'
              contacts:
                type: array
                items:
                  $ref: '#/definitions/CustomerContactPOST-PUT'
              customerAdditionalField:
                $ref: '#/definitions/CustomerPropertyPOST-PUT'
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              customer:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: 8f493b08-0a9e-49e1-a14f-85b379d67193
                    description: uuid of customer
        '400':
          description: Invalid ID supplied
        '404':
          description: interaction not found
        '405':
          description: Validation exception
  '/customer/{customerId}':
    get:
      tags:
        - customer
      summary: Get Customer Handling Base on Customer Lay out
      description: ''
      operationId: customerProfile
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: ID of interaction to update
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              customer:
                $ref: '#/definitions/Customer'
              contact:
                type: array
                items:
                  $ref: '#/definitions/CustomerContact'
              address:
                type: array
                items:
                  $ref: '#/definitions/CustomerAddress'
              customerContactPerson:
                type: array
                items:
                  $ref: '#/definitions/CustomerContactPerson'
              customerAdditionalField:
                $ref: '#/definitions/CustomerProperty'
    put:
      tags:
        - customer
      summary: Get Customer Handling Base on Customer Lay out
      description: ''
      operationId: UpdatecustomerProfile
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: ID of interaction to update
          required: true
          type: integer
          format: int64
        - in: body
          name: body
          description: customer property object that needs to be added to the customer
          required: true
          schema:
            type: object
            properties:
              customer:
                $ref: '#/definitions/CustomerPOST-PUT'
              contacts:
                type: array
                items:
                  $ref: '#/definitions/CustomerContactPOST-PUT'
                example:
                  - id: 39011c4a-8e55-11e8-9eb6-529269fb1459
                    countryCode: '+66'
                    contactNo: 0891172XXX
                    channelCodeContactType: PHONE - HOME
                    isDefault: false
                  - id: 39011c4a-8e55-11e8-9eb6-529269fb1458
                    countryCode: '+66'
                    contactNo: 0891172XXX
                    channelCodeContactType: PHONE - HOME
                    isDefault: false
                  - contactNo: kamalas@aaa.com
                    channelCodeContactType: EMAIL
                    isDefault: false
                  - id: 39011c4a-8e55-11e8-9eb6-529269fb1456
                    countryCode: '+66'
                    contactNo: 0891172XXX
                    channelCodeContactType: PHONE - HOME
                    isDefault: false
                    isDeleted: true
              customerAdditionalField:
                $ref: '#/definitions/CustomerPropertyPOST-PUT'
      responses:
        '200':
          description: successful operation
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
  '/customer/{customerId}/customer-handling-info':
    get:
      tags:
        - customer
      summary: Get Customer Handling Base on Customer Lay out
      description: ''
      operationId: quickInfo
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: ID of interaction to update
          required: true
          type: integer
          format: int64
        - in: query
          name: customerLayoutID
          type: string
          description: >-
            Layout that will display in customer handling if blank show default
            layout
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              customerId:
                type: string
                format: uuid
                example: b8f19822-47b9-4322-82eb-90e9fc7ae9ff
              quickInfo:
                type: array
                items:
                  $ref: '#/definitions/CustomerInfoLayout'
              moreInfo:
                type: array
                items:
                  $ref: '#/definitions/CustomerInfoLayout'
              contact:
                type: array
                items:
                  $ref: '#/definitions/CustomerContact'
          examples:
            application/json:
              customerId: e09419e0-e345-11e8-9f32-f2801f1b9fd1
              quickInfo:
                - 
                  label: Cutomer ID
                  type: string
                  value: '1882901'
                  isMask: false
                  mask: null
                - 
                  label: Account Name
                  type: string
                  value: ABC Corp.
                  isMask: false
                  mask: null
                - 
                  label: Customer Type
                  type: string
                  value: VIP
                  isMask: false
                  mask: null
                - 
                  label: Date of Birth
                  type: date
                  value: '1978-03-24T00:00:00'
                  isMask: false
                  mask: null
                - 
                  label: Membership ID
                  type: string
                  value: '21839021'
                  isMask: true
                  mask: X-XXX-XXXX
                - 
                  label: Budget Amount
                  type: string
                  value: 200000
                  isMask: false
                  mask: null
                - 
                  label: Point Expiry Date
                  type: date
                  value: '2019-02-10T00:00:00'
                  isMask: false
                  mask: null
                - 
                  label: Credit card number
                  type: string
                  value: 374990043XXXX
                  isMask: true
                  mask: X-XXXX-XXXX-XXXX
                - 
                  label: Remaining Point
                  type: number
                  value: 1202
                  isMask: false
                  mask: null
                - 
                  label: Citizen ID
                  type: string
                  value: 177826171XXXX
                  isMask: true
                  mask: X-XXXX-XXXXX-XX-X
              moreInfo:
                - 
                  label: Last Purchase Date
                  type: date-time
                  value: '2017-07-21T17:32:28'
                  isMask: false
                  mask: null
                - 
                  label: Home page
                  type: uri
                  value: www.abc.com
                  isMask: false
                  mask: null
                - 
                  label: In Warranty
                  type: string
                  value: true
                  isMask: false
                  mask: null
                - 
                  label: Prefer Time
                  type: time
                  value: '1900-01-01T17:00:00'
                  isMask: false
                  mask: null
              contact:
                - id: e0941292-e345-11e8-9f32-f2801f1b9fd1
                  channelCodeContactType: PHONE - MOBILE
                  countryCode: "+66"
                  contactNo: 0891172111
                  isMask: true
                  mask: (XXX) XXX-XXXX
                  isDefault: true
                - id: e0941738-e345-11e8-9f32-f2801f1b9fd1
                  channelCodeContactType: EMAIL
                  contactNo: kamaa@gmail.com
                  isMask: false
                  mask: null
                  isDefault: true
                - id: e0941738-e345-11e8-9f32-f2801f1b9fd1
                  channelCodeContactType: EMAIL
                  countryCode: null
                  contactNo: kamaa@ABC.com
                  isMask: false
                  mask: null
                  isDefault: false
                - id: e09418a0-e345-11e8-9f32-f2801f1b9fd1
                  channelCodeContactType: LINE
                  countryCode: null
                  contactNo: '@kamala'

                  isMask: false
                  mask: null
                  isDefault: true
                - id: e09419e0-e345-11e8-9f32-f2801f1b9fd1
                  channelCodeContactType: FB
                  countryCode: null
                  contactNo: KamalaInw
                  isMask: false
                  mask: null
                  isDefault: false
                - id: e0941712-e345-11e8-9f32-f2801f1b9fd1
                  channelCodeContactType: PHONE - HOME
                  countryCode: "+66"
                  contactNo: '027761523'

                  isMask: true
                  mask: X-XXX-XXXX
                  isDefault: false
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
  '/customer/{customerId}/address':
    get:
      tags:
        - customer
      summary: Get List of Address Information of Customer
      description: ''
      operationId: getAddressByCustomerID
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: ID of Customer to get list of Address
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              items:
                type: array
                items:
                  $ref: '#/definitions/CustomerAddress'
    post:
      tags:
        - customer
      summary: Add a new Address  to the customer
      description: ''
      operationId: addCustomerAddress
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: ID of customer(UUID)
          required: true
          type: string
          format: uuid
        - in: body
          name: body
          description: customer property object that needs to be added to the customer
          required: true
          schema:
            $ref: '#/definitions/CustomerAddressPOST-PUT'
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              customerAddress:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: 8f493b08-0a9e-49e1-a14f-85b379d67193
                    description: uuid of customer
        '405':
          description: Invalid input
    put:
      tags:
        - customer
      summary: Update an existing Address
      description: ''
      operationId: updateCustomerAddress
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: ID of customer(UUID)
          required: true
          type: string
          format: uuid
        - in: body
          name: body
          description: customer property object that needs to be added to the customer
          required: true
          schema:
            $ref: '#/definitions/CustomerAddressPOST-PUT'
      responses:
        '200':
          description: sucessful peration
        '400':
          description: Invalid ID supplied
        '404':
          description: customer property not found
        '405':
          description: Validation exception
  '/customer/{customerId}/contact-person':
    get:
      tags:
        - customer
      summary: Find customer by ID
      description: Returns a single customer
      operationId: getCustomerContactPersonByCustomerId
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: ID of customer(UUID) to return
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              items:
                type: array
                items:
                  $ref: '#/definitions/CustomerContactPerson'
        '400':
          description: Invalid ID supplied
        '404':
          description: interaction not found
      security:
        - api_key: []
    post:
      tags:
        - customer
      summary: Add a new customer ContactPerson
      description: ''
      operationId: addCustomerContactPerson
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: ID of customer(UUID)
          required: true
          type: string
          format: uuid
        - in: body
          name: body
          description: Add Customer Contact Person to customer
          required: true
          schema:
            $ref: '#/definitions/CustomerContactPersonPOST-PUT'
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              customerContactPerson:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: 8f493b08-0a9e-49e1-a14f-85b379d67193
                    description: uuid of customer
        '405':
          description: Invalid input
  '/customer/{customerId}/contact-person/{customerContactPersonId}':
    get:
      tags:
        - customer
      summary: Update an existing customer
      description: ''
      operationId: getstomerContactPerson
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: ID of customer(UUID) to return
          required: true
          type: string
          format: uuid
        - name: customerContactPersonId
          in: path
          description: ID of Conact Person
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              customer:
                $ref: '#/definitions/CustomerContactPersonPOST-PUT'
              contacts:
                type: array
                items:
                  $ref: '#/definitions/CustomerContactPersonContactPOST-PUT'
        '400':
          description: Invalid ID supplied
        '404':
          description: interaction not found
        '405':
          description: Validation exception
    put:
      tags:
        - customer
      summary: Update an existing customer
      description: ''
      operationId: updateCustomerContactPerson
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: ID of customer(UUID) to return
          required: true
          type: string
          format: uuid
        - name: customerContactPersonId
          in: path
          description: ID of Conact Person
          required: true
          type: string
          format: uuid
        - in: body
          name: body
          description: interaction object that needs to be added to the customer
          required: true
          schema:
            type: object
            properties:
              customer:
                $ref: '#/definitions/CustomerContactPersonPOST-PUT'
              contacts:
                type: array
                items:
                  $ref: '#/definitions/CustomerContactPersonContactPOST-PUT'
      responses:
        '400':
          description: Invalid ID supplied
        '404':
          description: interaction not found
        '405':
          description: Validation exception
  /customer/merge-customer/:
    post:
      tags:
        - customer
      summary: Update an existing customer
      description: ''
      operationId: mergeCustomer
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: interaction object that needs to be added to the customer
          required: true
          schema:
            type: array
            items:
              properties:
                customerId:
                  type: string
                  format: uuid
                isMaster:
                  type: boolean
            example:
              - customerId: 39011c4a-8e55-11e8-9eb6-529269fb1459
                isMaster: false
              - customerId: 39011c4a-8e55-11e8-9eb6-529269fb1458
                isMaster: true
              - customerId: 39011c4a-8e55-11e8-9eb6-529269fb1456
                isMaster: false
      responses:
        '200':
          description: successful operation
  '/customer/{customerId}/case':
    get:
      tags:
        - customer
      summary: uploads an image
      description: ''
      operationId: cases
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: ID of interaction to update
          required: true
          type: integer
          format: int64
        - name: additionalMetadata
          in: formData
          description: Additional data to pass to server
          required: false
          type: string
        - name: file
          in: formData
          description: file to upload
          required: false
          type: file
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              pagination:
                $ref: '#/definitions/Pagination'
              items:
                type: array
                items:
                  $ref: '#/definitions/list-cases'
              metadata:
                type: array
                items:
                  $ref: '#/definitions/Metadata'
      deprecated: true
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
  '/customer/{customerId}/campaign':
    get:
      tags:
        - customer
      summary: uploads an image
      description: ''
      operationId: campaigns
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: ID of interaction to update
          required: true
          type: integer
          format: int64
        - name: additionalMetadata
          in: formData
          description: Additional data to pass to server
          required: false
          type: string
        - name: file
          in: formData
          description: file to upload
          required: false
          type: file
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              pagination:
                $ref: '#/definitions/Pagination'
              items:
                type: array
                items:
                  $ref: '#/definitions/list-campaigns'
              metadata:
                type: array
                items:
                  $ref: '#/definitions/Metadata'
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
      deprecated: true
  '/customer/{customerId}/schedule':
    get:
      tags:
        - customer
      summary: uploads an image
      description: ''
      operationId: schedules
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: ID of interaction to update
          required: true
          type: integer
          format: int64
        - name: additionalMetadata
          in: formData
          description: Additional data to pass to server
          required: false
          type: string
        - name: file
          in: formData
          description: file to upload
          required: false
          type: file
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              pagination:
                $ref: '#/definitions/Pagination'
              items:
                type: array
                items:
                  $ref: '#/definitions/list-schedules'
              metadata:
                type: array
                items:
                  $ref: '#/definitions/Metadata'
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
      deprecated: true
  '/customer/{customerId}/sales-history':
    get:
      tags:
        - customer
      summary: uploads an image
      description: ''
      operationId: sales
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: ID of interaction to update
          required: true
          type: integer
          format: int64
        - name: additionalMetadata
          in: formData
          description: Additional data to pass to server
          required: false
          type: string
        - name: file
          in: formData
          description: file to upload
          required: false
          type: file
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              pagination:
                $ref: '#/definitions/Pagination'
              items:
                type: array
                items:
                  $ref: '#/definitions/list-saleHistory'
              metadata:
                type: array
                items:
                  $ref: '#/definitions/Metadata'
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
      deprecated: true
  '/customer/{customerId}/interaction-history':
    get:
      tags:
        - customer
      summary: uploads an image
      description: ''
      operationId: interactionHistory
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: ID of interaction to update
          required: true
          type: integer
          format: int64
        - name: additionalMetadata
          in: formData
          description: Additional data to pass to server
          required: false
          type: string
        - name: file
          in: formData
          description: file to upload
          required: false
          type: file
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              pagination:
                $ref: '#/definitions/Pagination'
              points:
                type: array
                items:
                  $ref: '#/definitions/group-list-interactionHistory'
              metadata:
                type: array
                items:
                  $ref: '#/definitions/Metadata'
            example:
              application/json2:
                pagination:
                  limit: 0
                  previouspage: 0
                  nextpage: 0
                  currentpage: 0
                  pagecount: 0
                  totalcount: 0
                points:
                  - groupName: '2018-07-31'
                    items:
                      - id: 39011c4a-8e55-11e8-9eb6-529269fb1459
                        subject: Inquiry Prodcut PDF-123a
                        shortBody: 'Dear Support, i neeed you help for product'
                        channelcode: EMAIL
                        status: Closed
                        state: Ignore
                        interactionDate: '2018-07-31T07:28:00.543'
                        hasAttachment: true
                        contactResultText: Inquiry|Product
                        assignTo: Agent1
                  - groupName: '2018-08-01'
                    items:
                      - id: 39011c4a-8e55-11e8-9eb6-529269fb1459
                        subject: Inquiry Prodcut PDF-123a
                        shortBody: 'Dear Support, i neeed you help for product'
                        channelcode: EMAIL
                        status: Closed
                        state: Ignore
                        interactionDate: '2018-08-01T07:28:00.543'
                        hasAttachment: true
                        contactResultText: Inquiry|Product
                        assignTo: Agent1
                  - groupName: '2018-08-02'
                    items:
                      - id: 39011c4a-8e55-11e8-9eb6-529269fb1459
                        subject: Inquiry Prodcut PDF-123a
                        shortBody: 'Dear Support, i neeed you help for product'
                        channelcode: EMAIL
                        status: Closed
                        state: Ignore
                        interactionDate: '2018-08-02T07:28:00.543'
                        hasAttachment: true
                        contactResultText: Inquiry|Product
                        assignTo: Agent1
                      - id: 39011c4a-8e55-11e8-9eb6-529269fb1459
                        subject: Inquiry Prodcut PDF-123a
                        shortBody: 'Dear Support, i neeed you help for product'
                        channelcode: EMAIL
                        status: Closed
                        state: Ignore
                        interactionDate: '2018-08-02T07:28:00.543'
                        hasAttachment: true
                        contactResultText: Inquiry|Product
                        assignTo: Agent1
                metadata:
                  - key: string
                    value: string
      security:
        - interactioncustomer_auth:
            - 'write:interactions'
            - 'read:interactions'
      deprecated: true
  /customer/inventory:
    get:
      tags:
        - customer
      summary: Returns interaction inventories by status
      description: Returns a map of status codes to quantities
      operationId: getInventory
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            additionalProperties:
              type: integer
              format: int32
          examples:
            application/json1:
              items:
                - id: 80fdf16a-3c98-4764-ac6c-e177362e7e8a
                  channelCode: Email
                  interActionAccountName: ABC Hotline
                  interactionName: Apichat Somjainuk
                  customerType: VIP
                  interactionContactName: apichat@gmail.com
                  AssignTo: User
                  Assignee: Agent1
                  interationDirection: IN
                  Title: 'Last IVR: Inquiry'
                  customerImage: /customer/89302180321/profile.jpg
                  customerAbbr: AS
                  color: '#1ABC9C'
                  body: ''
                  hasAttachment: 'false'
                  status: assign
                  state: waitforapprove
                  isRead: 'false'
                  createInteractionDate: '2018-02-01 12:23:11'
                  updateInteractionDate: '2018-02-01 12:25:11'
                  flag: 'false'
              metadata:
                pagination:
                  limit: 25
                  previousPage: 1
                  nextPage: 3
                  currentPage: 2
                  pageCount: 40
                  totalCount: 1000
      security:
        - api_key: []
      deprecated: true
  /customer/contacts:
    post:
      tags:
[...]
